---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-tablet:        768px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "media-queries",
  "layout",
  "hero",
  "site-menu",
  "custom",
  "work",
  "syntax-highlighting"
;

.blank-page-test{
  padding: 20px;
  border: solid thin #eee;
}








/* # Contents
* - variable + mixins
* - base styles
* - filter-wrap
* - featured partners
* - partners
*/

// - variable + mixins
$global-spacing: 20px;

%ai-box-shadow{
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.45);
}

img{
 display: block;
 width: 100%;
 height: auto;
}

input{
 width: 100%;
}

section{
 margin-bottom: $global-spacing;
}

.card{
 padding: 5px $global-spacing $global-spacing;
 @extend %ai-box-shadow;
 position: relative;
}

// .mask{
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  background-color: #999;
//  color: white;
//  padding: $global-spacing;
//  display: none;
// }

.card .text-wrap{
 // display: none;
}

// Mobile
.card .text-wrap.visible{
 // display: block;
}

.text-wrap{
 display: none;
}

.text-wrap.visible{
 // display: block;
 background-color: #999;
 padding: $global-spacing;
 
 color: white;
 position: relative;
 .fa-times{
  background-color: #666;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  z-index: 10;
  &:hover{
   cursor: pointer;
  }
 }
}

// - filter-wrap
.filter-wrap{
 background-color: #eee;
 padding-top: $global-spacing;
 padding-bottom: $global-spacing;
}

// - featured partners

// - partners
#partners{
 .row{
  margin-bottom: $global-spacing;
 }
 .location-info{
  display: none;
 }
}

#partners.is-small{
 .partner{
   margin-bottom: $global-spacing;
  }
 .mask{
  margin-top: $global-spacing;
  display: block;
 }
 .link{
  border: solid thin #eee;
  // display: inline-block;
  // background-color: red;
  float:left;
  width: 50%;
  padding-top: $global-spacing / 2;
  padding-bottom: $global-spacing / 2;
 }
 .text-wrap{
  clear: both;
 }
}
#partners.is-large{
 .text-wrap.visible{
  margin-bottom: $global-spacing;
 }
 .top-link{
  margin-bottom: 10px;
 }
}

.partner:hover{
 .mask{
  // display: flex;
 }
}

.partner .mask{
 text-align: center;
 justify-content: center;
 align-items: center;
 .fa{
  display: inline-block;
  margin-left: 10px;
 }
 &:after{
  content:"";
  display: block;
  clear:both;
 }
}
