---
layout: default
---

<div class="home">

  {% include hero.html %}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br>
        {% if post.img-src %}
          <img src="{{ post.img-src }}" alt="">
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <!--{% for category in post.categories %}-->
        <!--<span>{{ category }}</span>-->
        <!--{% endfor %}-->
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
