/*
* ------------------------------------------------------------------------------------
* # Contents
* - variable + mixins
* - base styles
* - filter-wrap
* - featured partners
* - partners
* ------------------------------------------------------------------------------------
*/

// - variable + mixins
$global-spacing: 20px;

%ai-box-shadow{
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.45);
}

img{
 display: block;
 width: 100%;
 height: auto;
}

input{
 width: 100%;
}

section{
 margin-bottom: $global-spacing;
}

.card{
  padding: $global-spacing;
  @extend %ai-box-shadow;
  position: relative;
}

%mask{
 display: block;
  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #999;
    color: white;
    padding: $global-spacing;
    display: none;
    a {
      color: white;
    }
  }
}

.active .card {
  @include tablet {
    box-shadow: none;
  }
}

h4.label{
  margin-top: 0;
}

.label{
  display: inline-block;
  background-color: #ccc;
  color: #666;
  margin-bottom: $global-spacing / 2;
}

.link{
  display: block;  
}

.text-wrap{
  background-color: #999;
  padding: $global-spacing;
  color: white;
  display: none;
  position: relative;
  .fa-times{
    background-color: #666;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    &:hover{
     cursor: pointer;
    }
  } 
  .expanded &{
    display: block;
    margin-top: -$global-spacing / 2;
    margin-bottom: $global-spacing;
  }
  .expanded.is-small &{
    display: none;
  }
}

// - filter-wrap
.filter-wrap{
 background-color: #eee;
 padding-top: $global-spacing;
 padding-bottom: $global-spacing;
}

// - featured partners
.featured .location-info{
  font-size: 10px; 
}

// - partners
#partners{
  .row{
    margin-bottom: $global-spacing;
  }
  .location-info{
    display: none;
  }
  .active{
    .fa-arrow-circle-right{
      transform: rotate(90deg);
    }
  } 
}



#partners.is-small{}

#partners.is-large{
  .text-wrap.visible{
    margin-bottom: $global-spacing;
  }
  .partner .text-wrap.visible{
    display: none;
  }
}

.partner{
  .mask{
    text-align: center;
    justify-content: center;
    align-items: center;
    .fa{
      display: inline-block;
      margin-left: 10px;
    }
    &:after{
      content:"";
      display: block;
      clear:both;
    }
    @extend %mask;
    @include medium-max{
      // display: none;
    }
  }
  
  @include tablet-max {
    margin-bottom: $global-spacing;
    &.active{
      .text-wrap{
        display: block;
      }
    }
    .mask{
      margin-top: $global-spacing / 2;
    }
    .link{
      border: solid thin #eee;
      float:left;
      width: 50%;
      padding-top: $global-spacing / 2;
      padding-bottom: $global-spacing / 2;
    }
    .text-wrap{
      clear: both;
    }
  }
  @include tablet {
    &:hover{
      .mask{
        display: flex;
      }
    }
    &.active .card{
      border: solid 5px #999;
    }
  }
}

